*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.casa_container_house{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 298px;
  max-width: 300px;
  padding: 6px;
  margin: 24px 0px;

  .img__container_home{
    display: block;
    position: relative;
    margin: 10px 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    .main_photo{
      display: inline-block;
      width: 100%;
      border-radius: 10px;
      height: 202px;
      object-fit: cover;
    }

    .main_photo:hover, .ng_icon_casa:hover{
      transform: scale(1.0990);
    }

    .ng_icon_casa{
      position: absolute;
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
    }
  }

  .casa_container>h3{
    font-size: 0.9em;
    margin: 10px 0;
  }
  .desc_container{
    width: 100%;
    margin: 0px 15px;
    border-top: 0.01px solid #00647e;
    .text_casa{
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;
      margin-top: 10px;

      .text_casa_amount{
        display: flex;
      }
    }
    .price{
      margin-top: 5px;
      .price_bolder{
        font-weight: bolder;
      }
    }
    .anfitriao{
      color: #ababab;
    }
  }

}


