.bem-vindo__{
  h1 {
    font-size: 3.5em;
  }
  ._inside_p{
    font-size: 2.5em;
  }

  .booking__container{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    >div{
      flex: 1;
    }
  }
}
