*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
}

.nav__{
  bottom: 0;
  //left: 0;
  display: flex;
  position: fixed;
  background-color: whitesmoke;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  border-top: 1px solid #004F63;
  max-width: 600px;
  width: 100%;
  opacity: 0.67;
  padding: 0;

  .nav__home_img{
    width: 80px;
    /* height: 80px; */
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
  }

  ._inside_span_right, ._inside_span_left{
    flex: 1;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    pading: 0;
    height: 100%;
    cursor: pointer;
  }
  .fa-icon{
    color: antiquewhite;
  }

  ._inside_span_right{
    margin-left: -15px;
  }

  ._inside_span_left{
    margin-right: -15px;
  }

  ._inside_span_right:hover, ._inside_span_left:hover{
    transform: scale(1.01);
    background-color: rgba(0, 79, 99, 0.76);
    color: #ffffff;
  }
}
.nav__:hover{
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .nav__{
    display: flex;
    flex: 1;
  }
}
