.casa{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 100%;
}

@media screen and (max-width: 460px) {
  .casa{
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}
