/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box
}

div{
  max-width: 100vw;
}

p{
  min-width: 100%;
}

.inactive{
  background-color: #ababab;
}

.active{
  background-color: #037f9d;
  color: whitesmoke;
}

.img{
  border-radius: 10px;
  //box-shadow: 2px 2px #005063;
}

button, a{
  text-transform: uppercase;
}


